#

In [1]:
# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine, inspect

connection_string = "sqlite:///simulations/simulation_results.db"
# connection_string = "sqlite:///farm/results/simulation_results.db"

# Create engine
engine = create_engine(connection_string)

# Get inspector
inspector = inspect(engine)

# Get all table names
tables = inspector.get_table_names()
print("Available tables:")
for table in tables:
    print(f"\n=== {table} ===")
    
    # Get column information
    columns = inspector.get_columns(table)
    print("\nColumns:")
    for col in columns:
        print(f"- {col['name']}: {col['type']}")
    
    # Get primary key information
    pk = inspector.get_pk_constraint(table)
    if pk['constrained_columns']:
        print(f"\nPrimary key: {pk['constrained_columns']}")
    
    # Preview first few rows
    print("\nFirst 5 rows:")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5", engine)
    display(df)

Available tables:

=== agent_actions ===

Columns:
- action_id: INTEGER
- step_number: INTEGER
- agent_id: VARCHAR(64)
- action_type: VARCHAR(20)
- action_target_id: VARCHAR(64)
- state_before_id: VARCHAR(128)
- state_after_id: VARCHAR(128)
- resources_before: FLOAT
- resources_after: FLOAT
- reward: FLOAT
- details: VARCHAR(1024)

Primary key: ['action_id']

First 5 rows:

,action_id,step_number,agent_id,action_type,action_target_id,state_before_id,state_after_id,resources_before,resources_after,reward,details
0,1,0,4Dw9KDtXwQam2gQHkfWfgj,gather,None,None,None,4.9,7.9,1.8000,"{""success"": true, ""amount_gathered"": 3, ""resou..."
1,2,0,4Dw9KDtXwQam2gQHkfWfgj,gather,None,None,None,7.8,7.8,0.0000,"{""success"": false, ""reason"": ""decided_not_to_g..."
2,3,0,XSddT794tYxWGKweDiaQYs,gather,None,None,None,4.9,4.9,0.0000,"{""success"": false, ""reason"": ""decided_not_to_g..."
3,4,0,XSddT794tYxWGKweDiaQYs,move,None,None,None,4.8,4.9,-0.1000,"{""distance_moved"": 8.0}"
4,5,0,RKXKjeG9NKJ47F9cjog5s3,gather,None,None,None,4.9,7.9,1.7625,"{""success"": true, ""amount_gathered"": 3, ""resou..."

=== agent_states ===

Columns:
- id: VARCHAR(128)
- step_number: INTEGER
- agent_id: VARCHAR(64)
- position_x: FLOAT
- position_y: FLOAT
- position_z: FLOAT
- resource_level: FLOAT
- current_health: FLOAT
- is_defending: BOOLEAN
- total_reward: FLOAT
- age: INTEGER

Primary key: ['id']

First 5 rows:

,id,step_number,agent_id,position_x,position_y,position_z,resource_level,current_health,is_defending,total_reward,age
0,4Dw9KDtXwQam2gQHkfWfgj-1,1,4Dw9KDtXwQam2gQHkfWfgj,66.252323,31.248715,None,7.8,99.683200,0,1.8000,1
1,XSddT794tYxWGKweDiaQYs-1,1,XSddT794tYxWGKweDiaQYs,12.261230,4.965551,None,4.8,100.000000,0,-0.3000,1
2,RKXKjeG9NKJ47F9cjog5s3-1,1,RKXKjeG9NKJ47F9cjog5s3,8.808793,45.023394,None,7.8,99.846641,0,1.9625,1
3,aw745PeUWJT2QyJTetdPNm-1,1,aw745PeUWJT2QyJTetdPNm,87.036893,38.857743,None,4.8,100.000000,1,0.0000,1
4,YseZCwbdEWMVyke8wDZX7t-1,1,YseZCwbdEWMVyke8wDZX7t,52.097770,18.738948,None,7.8,99.683200,0,1.9200,1

=== agents ===

Columns:
- agent_id: VARCHAR(64)
- birth_time: INTEGER
- death_time: INTEGER
- agent_type: VARCHAR(50)
- position_x: FLOAT
- position_y: FLOAT
- initial_resources: FLOAT
- starting_health: FLOAT
- starvation_threshold: INTEGER
- genome_id: VARCHAR(64)
- generation: INTEGER

Primary key: ['agent_id']

First 5 rows:

,agent_id,birth_time,death_time,agent_type,position_x,position_y,initial_resources,starting_health,starvation_threshold,genome_id,generation
0,4Dw9KDtXwQam2gQHkfWfgj,0,28.0,IndependentAgent,66.252323,31.248715,5.0,100.0,0,IndependentAgent:0:none:0,0
1,XSddT794tYxWGKweDiaQYs,0,25.0,IndependentAgent,12.261230,12.965551,5.0,100.0,0,IndependentAgent:0:none:0,0
2,RKXKjeG9NKJ47F9cjog5s3,0,NaN,IndependentAgent,0.808793,45.023394,5.0,100.0,0,IndependentAgent:0:none:0,0
3,aw745PeUWJT2QyJTetdPNm,0,28.0,IndependentAgent,87.036893,38.857743,5.0,100.0,0,IndependentAgent:0:none:0,0
4,YseZCwbdEWMVyke8wDZX7t,0,28.0,IndependentAgent,52.097770,18.738948,5.0,100.0,0,IndependentAgent:0:none:0,0

=== health_incidents ===

Columns:
- incident_id: INTEGER
- step_number: INTEGER
- agent_id: VARCHAR(64)
- health_before: FLOAT
- health_after: FLOAT
- cause: VARCHAR(50)
- details: VARCHAR(512)

Primary key: ['incident_id']

First 5 rows:

,incident_id,step_number,agent_id,health_before,health_after,cause,details
0,1,14,6JjN4mpZ4frHwQjJYK2UCr,0.0,0.0,starvation,"{""final_state"": ""dead""}"
1,2,18,6vsKo5w2A8JiadeKLcLKtR,0.0,0.0,starvation,"{""final_state"": ""dead""}"
2,3,20,RnBwjXRr94KipcGuq82knE,0.0,0.0,starvation,"{""final_state"": ""dead""}"
3,4,22,HLHEPJmvdqUATmb22VCFeD,0.0,0.0,starvation,"{""final_state"": ""dead""}"
4,5,22,VwXYzAiqvKxPDymsBoXJtz,0.0,0.0,starvation,"{""final_state"": ""dead""}"

=== learning_experiences ===

Columns:
- experience_id: INTEGER
- step_number: INTEGER
- agent_id: VARCHAR(64)
- module_type: VARCHAR(50)
- module_id: VARCHAR(64)
- action_taken: INTEGER
- action_taken_mapped: VARCHAR(20)
- reward: FLOAT

Primary key: ['experience_id']

First 5 rows:

,experience_id,step_number,agent_id,module_type,module_id,action_taken,action_taken_mapped,reward
0,1,0,XSddT794tYxWGKweDiaQYs,move,2188442164416,3,down,-0.3
1,2,0,RKXKjeG9NKJ47F9cjog5s3,move,2188442164416,0,right,0.2
2,3,0,6xPi7nwf4Vyj77zieh9KYK,move,2188442164416,2,up,0.2
3,4,0,EqNG5WjcoU6pRhGeGuf9js,move,2188442164416,1,left,0.2
4,5,0,3PtTUXxBztF7y3KuncoHxG,move,2188442164416,1,left,-0.3

=== resource_states ===

Columns:
- id: INTEGER
- step_number: INTEGER
- resource_id: INTEGER
- amount: FLOAT
- position_x: FLOAT
- position_y: FLOAT

Primary key: ['id']

First 5 rows:

   id  step_number  resource_id  amount  position_x  position_y
0   1            0            0     3.0   58.315485   26.626891
1   2            0            1     6.0   56.945856   56.993690
2   3            0            2     8.0   29.472178   19.408967
3   4            0            3     8.0    5.995406   40.144649
4   5            0            4     3.0   24.107946   71.604880

=== simulation_config ===

Columns:
- config_id: INTEGER
- timestamp: INTEGER
- config_data: VARCHAR(4096)

Primary key: ['config_id']

First 5 rows:

Empty DataFrame
Columns: [config_id, timestamp, config_data]
Index: []

=== simulation_steps ===

Columns:
- step_number: INTEGER
- total_agents: INTEGER
- system_agents: INTEGER
- independent_agents: INTEGER
- control_agents: INTEGER
- total_resources: FLOAT
- average_agent_resources: FLOAT
- births: INTEGER
- deaths: INTEGER
- current_max_generation: INTEGER
- resource_efficiency: FLOAT
- resource_distribution_entropy: FLOAT
- average_agent_health: FLOAT
- average_agent_age: INTEGER
- average_reward: FLOAT
- combat_encounters: INTEGER
- successful_attacks: INTEGER
- resources_shared: FLOAT
- genetic_diversity: FLOAT
- dominant_genome_ratio: FLOAT
- resources_consumed: FLOAT

Primary key: ['step_number']

First 5 rows:

,step_number,total_agents,system_agents,independent_agents,control_agents,total_resources,average_agent_resources,births,deaths,current_max_generation,...,resource_distribution_entropy,average_agent_health,average_agent_age,average_reward,combat_encounters,successful_attacks,resources_shared,genetic_diversity,dominant_genome_ratio,resources_consumed
0,1,132,0,132,0,57.0,7.146909,0,0,1,...,2.658091,99.882912,1.000000,0.575492,0,0,0.0,0.015152,0.909091,0.0
1,2,138,0,138,0,35.0,6.554551,0,0,1,...,2.288391,99.493392,1.956522,0.785326,0,0,0.0,0.021739,0.869565,22.0
2,3,150,0,150,0,13.0,5.845611,0,0,1,...,1.585771,99.340260,2.800000,0.935792,0,0,0.0,0.026667,0.800000,22.0
3,4,152,0,152,0,7.0,5.543842,0,0,1,...,1.351784,99.161431,3.763158,1.005442,0,0,0.0,0.032895,0.789474,6.0
4,5,152,0,152,0,10.0,5.129274,0,0,1,...,1.609438,98.907315,4.763158,1.078468,0,0,0.0,0.032895,0.789474,0.0

=== simulations ===

Columns:
- simulation_id: INTEGER
- start_time: DATETIME
- end_time: DATETIME
- status: VARCHAR(50)
- parameters: JSON
- results_summary: JSON
- simulation_db_path: VARCHAR(255)

Primary key: ['simulation_id']

First 5 rows:

Empty DataFrame
Columns: [simulation_id, start_time, end_time, status, parameters, results_summary, simulation_db_path]
Index: []

In [2]:
# See all records in Agent table
df = pd.read_sql("SELECT * FROM Agents", engine)
df.sample(20)

,agent_id,birth_time,death_time,agent_type,position_x,position_y,initial_resources,starting_health,starvation_threshold,genome_id,generation
74,28L4LGKhViKwfPFaSbBgMp,2,37.0,IndependentAgent,12.087741,90.770688,5.0,100.0,0,IndependentAgent:1:none:2,1
166,5mrwY8CQsdALFEFqDzNpiV,524,572.0,IndependentAgent,80.000000,84.000000,5.0,100.0,0,IndependentAgent:4:none:524,4
116,RBmacT572RTRDqVkWM5T6C,266,290.0,IndependentAgent,60.000000,0.000000,5.0,100.0,0,IndependentAgent:3:none:266,3
77,AASq8B4ok9pLuDqvZLkU45,73,116.0,IndependentAgent,40.000000,76.000000,5.0,100.0,0,IndependentAgent:1:none:73,1
97,Wm32saK4LLs85TZfnKtGZQ,155,210.0,IndependentAgent,40.000000,68.000000,5.0,100.0,0,IndependentAgent:2:none:155,2
123,76P5dw9YbmTpCHUsGwJFo6,313,343.0,IndependentAgent,56.000000,84.000000,5.0,100.0,0,IndependentAgent:1:none:313,1
249,kf5bZdJAsykAdSS4SkvBuU,983,1141.0,IndependentAgent,88.000000,52.000000,5.0,100.0,0,IndependentAgent:1:none:983,1
51,VWfc4ZQ8v2qZLAezi94qsS,0,37.0,IndependentAgent,26.181893,70.426085,10.0,100.0,0,IndependentAgent:0:none:0,0
168,LKB3JMKfLF8gShVQcTfnsX,542,716.0,IndependentAgent,60.000000,52.000000,5.0,100.0,0,IndependentAgent:2:none:542,2
233,Hy6H6pW4XEPWBJqeRCypTi,880,988.0,IndependentAgent,0.000000,76.000000,5.0,100.0,0,IndependentAgent:4:none:880,4
150,MHNEch4pL9umnCtqjcPhQv,464,506.0,IndependentAgent,44.000000,0.000000,5.0,100.0,0,IndependentAgent:2:none:464,2
124,FrLPkjXBDwKUnHoZzZuDHw,323,454.0,IndependentAgent,24.000000,92.000000,5.0,100.0,0,IndependentAgent:1:none:323,1
245,AdVXFcHw59RQN8FfmzyMQa,964,997.0,IndependentAgent,8.000000,76.000000,5.0,100.0,0,IndependentAgent:4:none:964,4
31,XbtumyQnBoz3986GGWU7pB,0,40.0,IndependentAgent,92.082300,28.046097,10.0,100.0,0,IndependentAgent:0:none:0,0
6,HLHEPJmvdqUATmb22VCFeD,0,22.0,IndependentAgent,97.757756,87.654108,5.0,100.0,0,IndependentAgent:0:none:0,0
193,Ag8Za8LdbBaoBPVWWjdHTL,692,762.0,IndependentAgent,40.000000,20.000000,5.0,100.0,0,IndependentAgent:1:none:692,1
2,RKXKjeG9NKJ47F9cjog5s3,0,NaN,IndependentAgent,0.808793,45.023394,5.0,100.0,0,IndependentAgent:0:none:0,0
145,DqndhidVWRNdPUGKaysFsj,431,469.0,IndependentAgent,60.000000,64.000000,5.0,100.0,0,IndependentAgent:3:none:431,3
214,exo9FSYF4Bbbc9iQ5Upata,770,983.0,IndependentAgent,36.000000,0.000000,5.0,100.0,0,IndependentAgent:4:none:770,4
289,G9VP7LBVqb6vwP437Byyyo,1239,NaN,IndependentAgent,60.000000,92.000000,5.0,100.0,0,IndependentAgent:7:none:1239,7

In [3]:
# AgentStates table
df = pd.read_sql("SELECT * FROM agent_states ", engine)
df.sample(20)

,id,step_number,agent_id,position_x,position_y,position_z,resource_level,current_health,is_defending,total_reward,age
25196,bRsTgUgrWejVz7KoDGqkzX-1432,1432,bRsTgUgrWejVz7KoDGqkzX,92.000000,92.000000,None,51.602240,100.000000,0,68.389167,310
18469,JjdvZBZfWWfAbAcwm8qfuT-954,954,JjdvZBZfWWfAbAcwm8qfuT,40.000000,100.000000,None,0.400000,100.000000,0,8.391667,84
27534,cNSNwLKYNd5uXtHKmh3Jwk-1715,1715,cNSNwLKYNd5uXtHKmh3Jwk,0.000000,28.000000,None,0.339408,100.000000,0,167.907500,599
18463,a2pwCDqny3r5ZUd6RVREug-954,954,a2pwCDqny3r5ZUd6RVREug,92.000000,84.000000,None,5.037689,100.000000,0,61.481288,257
25314,fjD5HUebeDLniNMWtjcBkN-1445,1445,fjD5HUebeDLniNMWtjcBkN,92.000000,80.000000,None,40.664000,100.000000,0,62.069167,271
14175,Ffh6PkqEQeTHVWwaDuztSL-751,751,Ffh6PkqEQeTHVWwaDuztSL,48.000000,28.000000,None,3.400000,100.000000,0,0.100000,9
13084,3Fj59B25qSgSP96hD259sb-679,679,3Fj59B25qSgSP96hD259sb,0.000000,0.000000,None,1.400000,100.000000,0,-1.400000,19
17908,C8nvz66Xd79ip38wnj8P5Z-922,922,C8nvz66Xd79ip38wnj8P5Z,52.000000,0.000000,None,-1.024000,100.000000,0,10.055000,124
25162,mfEzeVHfye4xZuJFCMW56p-1428,1428,mfEzeVHfye4xZuJFCMW56p,0.000000,44.000000,None,48.651040,100.000000,0,78.375000,235
26449,fjD5HUebeDLniNMWtjcBkN-1579,1579,fjD5HUebeDLniNMWtjcBkN,0.000000,68.000000,None,59.240960,100.000000,0,107.519167,405
10293,emgW9hsetRAE6kpd9eppJ6-521,521,emgW9hsetRAE6kpd9eppJ6,64.000000,36.000000,None,9.400000,100.000000,0,3.533333,9
8884,N5mrEkKAGLCmHSKsZGD86q-440,440,N5mrEkKAGLCmHSKsZGD86q,40.000000,56.000000,None,2.699744,100.000000,0,87.063235,346
5341,RZcy5XhxHhYvDDXAEoUGY3-230,230,RZcy5XhxHhYvDDXAEoUGY3,56.000000,36.000000,None,5.173600,100.000000,0,7.716667,64
27823,fjD5HUebeDLniNMWtjcBkN-1754,1754,fjD5HUebeDLniNMWtjcBkN,8.000000,76.000000,None,54.184972,100.000000,0,145.831667,580
2945,AASq8B4ok9pLuDqvZLkU45-91,91,AASq8B4ok9pLuDqvZLkU45,40.000000,100.000000,None,3.740000,100.000000,0,4.883333,18
8043,DcCLSbrtJ75EgMdX8iqnfu-397,397,DcCLSbrtJ75EgMdX8iqnfu,28.000000,80.000000,None,8.760000,100.000000,0,13.433333,22
12671,UJudGFXQtMRhBPuk72Ca3P-652,652,UJudGFXQtMRhBPuk72Ca3P,24.000000,0.000000,None,2.800000,100.000000,0,1.850000,47
20980,Tr2gRBy6BnMbUjq7YmKett-1091,1091,Tr2gRBy6BnMbUjq7YmKett,0.000000,0.000000,None,-0.452000,100.000000,0,10.565000,130
27048,fjD5HUebeDLniNMWtjcBkN-1654,1654,fjD5HUebeDLniNMWtjcBkN,0.000000,44.000000,None,64.240960,100.000000,0,118.106667,480
1828,iUkNqjEw3hWxBFKvaxondC-25,25,iUkNqjEw3hWxBFKvaxondC,18.181893,38.426085,None,-0.620000,96.675846,0,-0.900000,25