In [1]:
# Import necessary libraries
import pandas as pd
from sqlalchemy import create_engine, inspect

connection_string = "sqlite:///simulations/simulation_results.db"
# connection_string = "sqlite:///farm/results/simulation_results.db"

# Create engine
engine = create_engine(connection_string)

# Get inspector
inspector = inspect(engine)

# Get all table names
tables = inspector.get_table_names()
print("Available tables:")
for table in tables:
    print(f"\n=== {table} ===")
    
    # Get column information
    columns = inspector.get_columns(table)
    print("\nColumns:")
    for col in columns:
        print(f"- {col['name']}: {col['type']}")
    
    # Get primary key information
    pk = inspector.get_pk_constraint(table)
    if pk['constrained_columns']:
        print(f"\nPrimary key: {pk['constrained_columns']}")
    
    # Preview first few rows
    print("\nFirst 5 rows:")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 50", engine)
    if df.empty:
        print("No data available")
    else:
        display(df.sample(5))

Available tables:

=== agent_actions ===

Columns:
- action_id: INTEGER
- step_number: INTEGER
- agent_id: VARCHAR(64)
- action_type: VARCHAR(20)
- action_target_id: VARCHAR(64)
- state_before_id: VARCHAR(128)
- state_after_id: VARCHAR(128)
- resources_before: FLOAT
- resources_after: FLOAT
- reward: FLOAT
- details: VARCHAR(1024)

Primary key: ['action_id']

First 5 rows:

,action_id,step_number,agent_id,action_type,action_target_id,state_before_id,state_after_id,resources_before,resources_after,reward,details
8,9,1,gobDRstgyiqHAx9zpjjKKr,move,None,None,None,3.70,3.800,-0.1,"{""distance_moved"": 8.0}"
28,29,4,DZzBHQt6UdGYUuv2hrcnhA,move,None,None,None,5.32,5.420,-0.1,"{""distance_moved"": 8.0}"
48,49,8,gobDRstgyiqHAx9zpjjKKr,attack,None,None,None,7.88,6.304,0.0,"{""success"": true, ""target_position"": [81.34924..."
41,42,7,gobDRstgyiqHAx9zpjjKKr,gather,None,None,None,8.18,8.180,0.0,"{""success"": false, ""reason"": ""decided_not_to_g..."
35,36,6,e9pMjKdsz5mJ9rhYY2kEAa,move,None,None,None,5.60,5.700,-0.1,"{""distance_moved"": 8.0}"

=== agent_states ===

Columns:
- id: VARCHAR(128)
- step_number: INTEGER
- agent_id: VARCHAR(64)
- position_x: FLOAT
- position_y: FLOAT
- position_z: FLOAT
- resource_level: FLOAT
- current_health: FLOAT
- is_defending: BOOLEAN
- total_reward: FLOAT
- age: INTEGER

Primary key: ['id']

First 5 rows:

,id,step_number,agent_id,position_x,position_y,position_z,resource_level,current_health,is_defending,total_reward,age
3,e9pMjKdsz5mJ9rhYY2kEAa-1,1,e9pMjKdsz5mJ9rhYY2kEAa,46.902271,2.321333,None,0.60,100.00000,0,-0.100000,1
13,gobDRstgyiqHAx9zpjjKKr-4,4,gobDRstgyiqHAx9zpjjKKr,73.349244,66.108106,None,7.00,100.00000,0,4.228333,4
42,EJM3tUmiBrkJTFjgoVY64v-13,13,EJM3tUmiBrkJTFjgoVY64v,79.337020,82.039960,None,5.00,100.00000,0,0.000000,0
29,DZzBHQt6UdGYUuv2hrcnhA-9,9,DZzBHQt6UdGYUuv2hrcnhA,79.337020,82.039960,None,7.32,99.53664,0,8.320000,9
36,e9pMjKdsz5mJ9rhYY2kEAa-12,12,e9pMjKdsz5mJ9rhYY2kEAa,46.902271,0.000000,None,9.40,100.00000,0,6.320000,12

=== agents ===

Columns:
- agent_id: VARCHAR(64)
- birth_time: INTEGER
- death_time: INTEGER
- agent_type: VARCHAR(50)
- position_x: FLOAT
- position_y: FLOAT
- initial_resources: FLOAT
- starting_health: FLOAT
- starvation_threshold: INTEGER
- genome_id: VARCHAR(64)
- generation: INTEGER

Primary key: ['agent_id']

First 5 rows:

,agent_id,birth_time,death_time,agent_type,position_x,position_y,initial_resources,starting_health,starvation_threshold,genome_id,generation
14,iyMjK7scJGr62BVbp5KDDY,88,176.0,ControlAgent,71.33702,84.0,5.0,100.0,0,ControlAgent:1:none:88,1
22,H9pb9g885AUpFEu9Cp53Gr,126,269.0,ControlAgent,68.00000,24.0,5.0,100.0,0,ControlAgent:2:none:126,2
27,ChNWkE3iu5DQBxxdmFPqwK,148,431.0,ControlAgent,52.00000,44.0,5.0,100.0,0,ControlAgent:1:none:148,1
38,AxHxUEVPiqQaYa3zaXqiom,264,285.0,SystemAgent,32.00000,84.0,5.0,100.0,0,SystemAgent:4:none:264,4
26,EANkkSaeFvawzZM3xqo646,146,188.0,SystemAgent,16.00000,0.0,5.0,100.0,0,SystemAgent:3:none:146,3

=== health_incidents ===

Columns:
- incident_id: INTEGER
- step_number: INTEGER
- agent_id: VARCHAR(64)
- health_before: FLOAT
- health_after: FLOAT
- cause: VARCHAR(50)
- details: VARCHAR(512)

Primary key: ['incident_id']

First 5 rows:

,incident_id,step_number,agent_id,health_before,health_after,cause,details
37,38,345,Xew9eLKYKVaCUYUpaaDyhb,0.0,0.0,starvation,"{""final_state"": ""dead""}"
18,19,207,4BaktHyHDBtmFfzQqxt6Q2,0.0,0.0,starvation,"{""final_state"": ""dead""}"
43,44,367,exU5hMEcHJfvUYayPPTgS7,0.0,0.0,starvation,"{""final_state"": ""dead""}"
49,50,377,3VdacLU9Uk5bXdjkgJtMqQ,0.0,0.0,starvation,"{""final_state"": ""dead""}"
29,30,294,aHVnfpFzCBafsnwyqHgDRm,0.0,0.0,starvation,"{""final_state"": ""dead""}"

=== learning_experiences ===

Columns:
- experience_id: INTEGER
- step_number: INTEGER
- agent_id: VARCHAR(64)
- module_type: VARCHAR(50)
- module_id: VARCHAR(64)
- action_taken: INTEGER
- action_taken_mapped: VARCHAR(20)
- reward: FLOAT

Primary key: ['experience_id']

First 5 rows:

,experience_id,step_number,agent_id,module_type,module_id,action_taken,action_taken_mapped,reward
4,5,3,e9pMjKdsz5mJ9rhYY2kEAa,move,2895238116400,2,up,0.2
32,33,16,gobDRstgyiqHAx9zpjjKKr,move,2895238116400,3,down,0.2
31,32,15,EJM3tUmiBrkJTFjgoVY64v,move,2895238116400,3,down,-0.3
34,35,16,DZzBHQt6UdGYUuv2hrcnhA,move,2895238116400,3,down,0.2
9,10,5,gobDRstgyiqHAx9zpjjKKr,move,2895238116400,0,right,0.2

=== reproduction_events ===

Columns:
- event_id: INTEGER
- step_number: INTEGER
- parent_id: VARCHAR(64)
- offspring_id: VARCHAR(64)
- success: BOOLEAN
- parent_resources_before: FLOAT
- parent_resources_after: FLOAT
- offspring_initial_resources: FLOAT
- failure_reason: VARCHAR(255)
- parent_generation: INTEGER
- offspring_generation: INTEGER
- parent_position_x: FLOAT
- parent_position_y: FLOAT
- timestamp: DATETIME

Primary key: ['event_id']

First 5 rows:

,event_id,step_number,parent_id,offspring_id,success,parent_resources_before,parent_resources_after,offspring_initial_resources,failure_reason,parent_generation,offspring_generation,parent_position_x,parent_position_y,timestamp
42,43,55,2NTuTqgQEQ9unWm3j9Jocf,None,0,8.22,8.22,NaN,conditions_not_met,1,NaN,38.902271,80.0,2025-02-07 03:05:17
15,16,32,2NTuTqgQEQ9unWm3j9Jocf,6HsPXVmmdduLhkkeNfGRiP,1,15.00,9.00,5.0,None,1,2.0,46.902271,40.0,2025-02-07 03:05:17
36,37,50,JamwNv5cxs35TeAf9YtEs9,None,0,5.70,5.70,NaN,conditions_not_met,1,NaN,30.902271,88.0,2025-02-07 03:05:17
31,32,46,DZzBHQt6UdGYUuv2hrcnhA,None,0,6.58,6.58,NaN,conditions_not_met,0,NaN,87.337020,100.0,2025-02-07 03:05:17
23,24,39,e9pMjKdsz5mJ9rhYY2kEAa,None,0,16.10,16.10,NaN,conditions_not_met,0,NaN,46.902271,64.0,2025-02-07 03:05:17

=== resource_states ===

Columns:
- id: INTEGER
- step_number: INTEGER
- resource_id: INTEGER
- amount: FLOAT
- position_x: FLOAT
- position_y: FLOAT

Primary key: ['id']

First 5 rows:

    id  step_number  resource_id  amount  position_x  position_y
12  13            0           12     3.0   95.860719   80.853421
16  17            0           16     8.0   41.482833   96.938244
6    7            0            6     4.0   41.631158   30.312391
46  47            1            6     6.0   41.631158   30.312391
43  44            1            3     7.0   25.887325    1.082088

=== simulation_config ===

Columns:
- config_id: INTEGER
- timestamp: INTEGER
- config_data: VARCHAR(4096)

Primary key: ['config_id']

First 5 rows:
No data available

=== simulation_steps ===

Columns:
- step_number: INTEGER
- total_agents: INTEGER
- system_agents: INTEGER
- independent_agents: INTEGER
- control_agents: INTEGER
- total_resources: FLOAT
- average_agent_resources: FLOAT
- births: INTEGER
- deaths: INTEGER
- current_max_generation: INTEGER
- resource_efficiency: FLOAT
- resource_distribution_entropy: FLOAT
- average_agent_health: FLOAT
- average_agent_age: INTEGER
- average_reward: FLOAT
- combat_encounters: INTEGER
- successful_attacks: INTEGER
- resources_shared: FLOAT
- genetic_diversity: FLOAT
- dominant_genome_ratio: FLOAT
- resources_consumed: FLOAT

Primary key: ['step_number']

First 5 rows:

,step_number,total_agents,system_agents,independent_agents,control_agents,total_resources,average_agent_resources,births,deaths,current_max_generation,...,resource_distribution_entropy,average_agent_health,average_agent_age,average_reward,combat_encounters,successful_attacks,resources_shared,genetic_diversity,dominant_genome_ratio,resources_consumed
8,8,6,2,2,2,142.0,5.341333,0,0,0,...,2.891835,99.845547,8.000000,4.434444,0,0,0.0,0.5,0.333333,0.0
32,32,12,6,2,4,167.0,6.972026,1,0,2,...,2.798339,99.794620,20.833333,10.208889,0,0,0.0,0.5,0.166667,1.0
2,2,6,2,2,2,125.0,3.173333,0,0,0,...,2.939357,100.000000,2.000000,1.655000,0,0,0.0,0.5,0.333333,0.0
47,47,16,8,2,6,166.0,8.123388,0,0,2,...,2.721037,99.612825,28.625000,12.794998,0,0,0.0,0.5,0.125000,0.0
9,9,6,2,2,2,147.0,5.808000,0,0,0,...,2.898015,99.845547,9.000000,5.386111,0,0,0.0,0.5,0.333333,0.0

=== simulations ===

Columns:
- simulation_id: INTEGER
- start_time: DATETIME
- end_time: DATETIME
- status: VARCHAR(50)
- parameters: JSON
- results_summary: JSON
- simulation_db_path: VARCHAR(255)

Primary key: ['simulation_id']

First 5 rows:
No data available

In [2]:
from farm.database.database import SimulationDatabase


db = SimulationDatabase(db_path='farm/results/simulation_results.db')

In [ ]:
# def run_retriever_method(retriever, method_name, step=10, step_range=(1,10)):
#     """
#     Run a retriever method for all possible scopes.
#     """
#     method = getattr(retriever, method_name)
    
#     print(f"\n=== Running {method_name} across all scopes ===\n")
    
#     def print_result(result):
#         if isinstance(result, list):
#             for item in result:
#                 print(f"\n{item}")
#         elif hasattr(result, 'step_summary'):  # Handle StepActionData
#             print("Step Summary:")
#             print(f"  Total Actions: {result.step_summary.total_actions}")
#             print(f"  Unique Agents: {result.step_summary.unique_agents}")
#             print(f"  Action Types: {result.step_summary.action_types}")
#             print(f"  Total Reward: {result.step_summary.total_reward}")
            
#             print("\nAction Statistics:")
#             for stat in result.action_statistics:
#                 print(f"  {stat.action_type}:")
#                 print(f"    Count: {stat.count}")
#                 print(f"    Frequency: {stat.frequency:.2%}")
#                 print(f"    Avg Reward: {stat.avg_reward:.2f}")
#         else:
#             print(result)
    
#     # Simulation scope
#     print("--- Simulation Scope ---")
#     try:
#         result = method(scope='simulation')
#         print_result(result)
#     except Exception as e:
#         print(f"Error in simulation scope: {e}")
    
#     # Agent scope
#     print(f"\n--- Agent Scope ---")
#     try:
#         result = method(scope='agent')
#         print_result(result)
#     except Exception as e:
#         print(f"Error in agent scope: {e}")
    
#     # Step scope
#     print(f"\n--- Step Scope (step={step}) ---")
#     try:
#         result = method(scope='step', step=step)
#         print_result(result)
#     except Exception as e:
#         print(f"Error in step scope: {e}")
    
#     # Step range scope
#     print(f"\n--- Step Range Scope (range={step_range}) ---")
#     try:
#         result = method(scope='step_range', step_range=step_range)
#         print_result(result)
#     except Exception as e:
#         print(f"Error in step range scope: {e}")
        
# def test_retriever_method(retriever, method_name, step=10, step_range=(1,10)):
#     """
#     Test a retriever method across all scopes, verifying return types and structure.
    
#     Args:
#         retriever: The retriever object (e.g., action_retriever)
#         method_name: String name of the method to call
#         agent_id: ID to use for agent scope (default: 1)
#         step: Step number to use for step scope (default: 10)
#         step_range: Tuple of (start, end) steps for step_range scope (default: (1,10))
#     """
#     method = getattr(retriever, method_name)
#     all_tests_passed = True
    
#     def validate_result(result, scope_name):
#         if result is None:
#             print(f"âŒ {scope_name}: Returned None, Expected a list of {type(result[0]).__name__} objects")
#             return False
            
#         if isinstance(result, list):
#             if not result:
#                 print(f"âŒ {scope_name}: Returned empty list, Expected a list of {type(result[0]).__name__} objects")
#                 if result:
#                     print(f"  First item type: {type(result[0]).__name__}")
#                 return False
#             print(f"âœ“ {scope_name}: Returned non-empty list of {type(result[0]).__name__} objects")
#         else:
#             print(f"âœ“ {scope_name}: Returned {type(result).__name__} object")
#         return True
    
#     # Test all scopes
#     scopes = [
#         ('simulation', {}),
#         ('agent', {}),
#         ('step', {'step': step}),
#         ('step_range', {'step_range': step_range})
#     ]
    
#     for scope_name, kwargs in scopes:
#         print(f"\nTesting {scope_name} scope...")
#         try:
#             result = method(scope=scope_name, **kwargs)
#             if not validate_result(result, scope_name):
#                 all_tests_passed = False
#         except Exception as e:
#             if 'unexpected keyword argument' in str(e):
#                 print(f"âœ“ {scope_name} scope not enabled")
#                 all_tests_passed = True
#             else:
#                 print(f"â— {scope_name}: Raised exception: {str(e)}")
#                 all_tests_passed = False
    
#     # Final result
#     print("\n" + "="*50)
#     if all_tests_passed:
#         print(f"âœ“ All tests passed for {method_name}")
#     else:
#         print(f"âŒ Some tests failed for {method_name}")
#     print("="*50)
    
#     return all_tests_passed

:

# Actions

In [ ]:
action_retriever = db.query._retrievers['actions']

### Get action stats

In [ ]:
run_retriever_method(action_retriever, 'action_stats')
# test_retriever_method(action_retriever, 'action_stats')

### Temporal patterns

In [ ]:
run_retriever_method(action_retriever, 'temporal_patterns')
# test_retriever_method(action_retriever, 'temporal_patterns')

### Resource impacts

In [ ]:
run_retriever_method(action_retriever, 'resource_impacts')
# test_retriever_method(action_retriever, 'resource_impacts')

### Decision patterns

In [ ]:
run_retriever_method(action_retriever, 'decision_patterns', step=10)
# test_retriever_method(action_retriever, 'decision_patterns', step=10)

In [9]:

#! compare 2 agents, compare two simulations

### Get actions

In [ ]:
run_retriever_method(action_retriever, 'actions', step=10)
# test_retriever_method(action_retriever, 'actions', step=10)

### Sequence patterns

In [ ]:
run_retriever_method(action_retriever, 'sequence_patterns', step=10)
# test_retriever_method(action_retriever, 'sequence_patterns', step=10)

### Casual analysis

In [ ]:
action_retriever.causal_analysis('gather')

### Behavior clustering

In [ ]:
action_retriever.behavior_clustering()

### Exploration vs Exploitation

In [ ]:
action_retriever.exploration_exploitation()

In [ ]:
action_retriever.adversarial_analysis()

# Interactions

### Simulation level

In [ ]:
action_retriever.get_interactions(scope='simulation')

### Agent level

In [ ]:
action_retriever.get_interactions(scope='agent', agent_id=1)

### Step level

In [ ]:
action_retriever.get_interactions(scope='step', step=10)

### Step range

In [ ]:
action_retriever.get_interactions(scope='step_range', step_range=(1, 10))

# Temporal patterns

### Simulation level

### Agent level

### Step level

### Step range

# Simulation data

In [ ]:
db.query.agent_states(step_number=1)

In [ ]:
db.query.resource_states(step_number=1)

In [ ]:
db.query.simulation_state(step_number=1)

In [ ]:
db.query.simulation_results(step_number=1)

# Agent Lifespan

In [ ]:
db.query.lifespan_statistics()

In [ ]:
db.query.survival_rates()

In [ ]:
db.query.agent_lifespan_statistics()

# Population Statistics

In [ ]:
db.query.population_data()

In [ ]:
db.query.basic_population_statistics()

In [ ]:
db.query.agent_type_distribution()

In [ ]:
db.query.population_statistics()

# Resource data

In [ ]:
db.query.resource_distribution()

In [ ]:
db.query.consumption_patterns()

In [ ]:
db.query.resource_hotspots()

In [ ]:
db.query.resource_statistics()

# Learning

In [ ]:
db.query.learning_progress()

In [ ]:
db.query.module_performance()

In [ ]:
db.query.agent_learning_stats(10)

In [ ]:
db.query.learning_efficiency()

In [ ]:
db.query.learning_statistics()